<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<mat-card class="home-container">
  <mat-card-content class="content">
    <h1 class="title">
      <i class="fas fa-chart-line mr-2"></i> Report Portal
    </h1>
    
    <div class="buttons mt-5">
      <button mat-raised-button class="btn-generate mat-primary" routerLink="/exam-blocks">
        <i class="fas fa-file-alt mr-2"></i> Generate Report
      </button>
      <button mat-raised-button class="btn-view mat-warn" routerLink="/history-absent">
        <i class="fas fa-history mr-2"></i> Absent History
      </button>
      <button mat-raised-button class="btn-view mat-warn" routerLink="/history-malpractice">
        <i class="fas fa-history mr-2"></i> MalPractice History
      </button>
      <button mat-raised-button class="btn-view-report mat-primary" routerLink="/validation-report">
        <i class="fas fa-eye mr-2"></i> View Reports
      </button>
    </div>
  </mat-card-content>
</mat-card>
