/* Update styles for report-portal-home.component.css */

.home-container {
    background: linear-gradient(180deg, #f6f6f6, #e0e0e0); /* Gradient background */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease; /* Fade-in animation */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px); /* Slide in from top */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: slideIn 1s ease; /* Slide-in animation for content */
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-20px);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .title {
    font-size: 36px;
    background:black; /* Gradient green to light green */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 20px;
    animation: colorChange 2s infinite alternate; /* Color-changing animation */
  }
  
  @keyframes colorChange {
    0% {
      background-position: 100% 0;
    }
    100% {
      background-position: -100% 0;
    }
  }
  
  .title i {
    font-size: 48px;
    vertical-align: middle;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .btn-view-report {
    background: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .btn-view-report:hover {
    background: #111;
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  